$trans_time = 500ms

.TimeSection
    overflow: hidden
    h1
        cursor: pointer
    ul
        margin: 0
        padding: 0
        overflow: hidden
        // transition: opacity 500ms ease-out